<h2 align="center" class="ui header">
    <i class="circular big grey inverted setting icon"></i>
</h2>
<h2 align="center" class="sub header">
    <%= @user.username %>
</h2>

<%= render 'user_form' %>
